# This file contains a mapping from verilog wire names to icestick
# pin names.

# TODO: Auto-generate this file to have a configurable number of pins
# in the design. Perhaps a chisel backend should generate it?

set_io clk 21

# Clock shall not be slower than 50MHz = 20ns due to the motherboard
# crystal being 50MHz. How to ensure this with the open source flow?

# Reset is connected to some floating pin at Jumper group JA.
set_io reset 120

# Expansion I/O Connections (See iCEstick User Guide)
set_io io_pin_inputs[0]  112
set_io io_pin_inputs[1]  113
set_io io_pin_inputs[2]  114
set_io io_pin_inputs[3]  115

# LEDs
set_io io_pin_outputs[0] 99
set_io io_pin_outputs[1] 98
set_io io_pin_outputs[2] 97
set_io io_pin_outputs[3] 96

# DVI
set_io io_dvi_chan_0 44
set_io io_dvi_chan_1 105
set_io io_dvi_chan_2 106
