# Physical constraints file for the icoboard.
#
# References:
# https://stylesuxx.github.io/icoboard-wiki/examples/
# http://downloads.amescon.com/icoboard.pdf

# clk is connected to a 25 MHz crystal (CB3LV-3C-25M0000) on the icoboard.
# TODO: use icetime to ensure that the design can be clocked at 25MHz
set_io clk R9

# reset is connected to btn1
set_io reset K11

# io_pin_inputs[0] is connected to BTN2
set_io io_pin_inputs[0]  P13

# The rest of the inputs are connected to PMOD pins
set_io io_pin_inputs[1]  B10
set_io io_pin_inputs[2]  A10
set_io io_pin_inputs[3]  B9

# io_pin_outputs[0] is connected to some P1 PMOD pin
set_io io_pin_outputs[0] A9

# {io_pin_outputs[x] is connected to LEDx, x ∈ {1,2,3} }
set_io io_pin_outputs[1] C8
set_io io_pin_outputs[2] F7
set_io io_pin_outputs[3] K9

# DVI is connected to the P3 and P4 PMOD
# http://icoboard.org/icoboard-beta.html
set_io io_dvi_chan_0 T5
set_io io_dvi_chan_1 T6
set_io io_dvi_chan_2 T7
